* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  background-color: rgba(255, 0, 225, 0.356);
}

.formContainer header {
  width: 70%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; */
}

.formContainer header img {
  height: 4rem;
}

.formContainer header h1 {
  font-family: "Playwrite NZ", cursive;
  font-size: 2.5rem;
  font-weight: 700;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 70%;
}

form input {
  width: 100%;
  padding: 0.8rem 0.8rem;
  font-size: 1.3rem;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

form button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.taskContainer {
  width: 70%;
  height: 100vh;
  border-left: 0.2rem solid #000;
  background-color: rgb(255, 234, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskContainer h2 {
  color: #000;
  font-family: "Playwrite NZ", cursive;
  font-size: 2rem;
  font-weight: 700;
  left: 20%;
  top: 40%;
}

.listContainer {
  width: 60%;
  padding: 2rem 0;
  margin: 2rem auto 0;
  /* border-top: 1px dashed #000; */
}

.listContainer ul li {
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
  list-style: none;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.listContainer ul li.checked {
  text-decoration: line-through;
  background-color: rgb(185, 255, 185);
}

.listContainer ul li img {
  height: 1.5rem;
  cursor: pointer;
}
